* {
  background-color: #202124;
  color: aliceblue;
  padding: 0;
  margin: 0;
}
div {
  /* border: solid white 1px; */
}
body {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  min-width: 1688px;
}

/* Classes */
.header {
  display: flex;
  justify-content: center;
}

.main {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  width: 100%;
}

.bookTicket {
  /* width: 100%; */
}

.plane {
  /* display: flex;
  position: relative;
  width: 100%; */
  display: flex;
  justify-content: center;
  width: 100%;
}

.plane h1{
  font-size: 50px;
  margin-right: 1170px;
  margin-top: 104px;
  position: absolute;
  width: 400px;
  z-index: 1;
  background-color: #797b84;
  color: #202124;
}

/* ID */
#planePNG {
  position: absolute;
  width: 1600px;
  margin-top: 100px;
  border: 1px white solid;
  border-radius: 10px;
  background-color: #797b84;
}
#seats {
  position: absolute;
  display: flex;
  margin: 319px 302px 0 0;
  height: 132px;
  width: 725px;
  border: 1px solid white;
}

#seatSectionA {
  background-color: blue;
  width: 100%;
  height: 100%;
  border-right: 1px solid white;
}
#seatSectionA table {
  height: 100%;
  width: 100%;
}
#seatSectionA th,
td {
  border: 1px white solid;
  background-color: #baa1a7;
  color: #202124;
}
#seatSectionA th:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  filter: brightness(125%);
}

#seatSectionB {
  background-color: blue;
  width: 100%;
  height: 100%;
  border-right: 1px solid white;
}
#seatSectionB table {
  height: 100%;
  width: 100%;
}
#seatSectionB th,
td {
  border: 1px white solid;
  background-color: #edbbb4;
  color: #202124;

}
#seatSectionB th:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  filter: brightness(125%);
}

#seatSectionC {
  width: 100%;
  height: 100%;
}
#seatSectionC table {
  height: 100%;
  width: 100%;
}
#seatSectionC th {
  background-color: #dbabbe;
  border: 1px white solid;
  color: #202124;

}
#seatSectionC th:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  /* background-color: #303134; */
  filter: brightness(125%);

}

/* 
#seatSectionA #sectionB {
  background-color: transparent;
}

#sectionC {
  background-color: transparent;
} */
